{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <main>
        <div class="conteneurCreation">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h2>Renouvelle ton mot de passe !</h2>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>
                        {# Rentre ton Email ! #}
                    </small>
                </div>

                <button class="btn btn-primary">Envoie l'Email !</button>
            {{ form_end(requestForm) }}
            <a href="{{ path('app_login') }}">Retour Connexion</a>
        </div>
    </main>
{% endblock %}
