{% extends 'base.html.twig' %}

{% block title %}TodoLists index
{% endblock %}

{% block body %}
	<h1>TodoLists index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>NameList</th>
				<th>DeadLine</th>
				<th>Owner</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for todo_list in todo_lists %}
				<tr>
					<td>{{ todo_list.id }}</td>
					<td>{{ todo_list.nameList }}</td>
					<td>{{ todo_list.deadLine ? todo_list.deadLine|date('Y-m-d') : '' }}</td>
					<td>{{ todo_list.owner.email }}</td>
					<td>
						<a href="{{ path('app_todo_lists_show', {'id': todo_list.id}) }}">
							show</a>
						<a href="{{ path('app_todo_lists_edit', {'id': todo_list.id}) }}">edit</a>
						<a href="{{ path('app_tasks_index', {'id': todo_list.id}) }}">taches</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">no records found</td>
	</tr>
{% endfor %}</tbody></table><a href="{{ path('app_todo_lists_new') }}">Create new</a>{% endblock %}
