{% extends 'base.html.twig' %}

{% block title %}TodoLists index
{% endblock %}

{% block body %}
	<h1>TodoLists index</h1>

	<table class="table">
		<thead>
			<tr>
				{# <th>Id</th> #}
				<th>NameList</th>
				<th>DeadLine</th>
				<th>Fini ?</th>
				{# <th>Owner</th> #}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for todo_list in todo_lists %}
				<tr>
					{# <td>{{ todo_list.id }}</td> #}
					<td>{{ todo_list.nameList }}</td>
					<td>{{ todo_list.deadLine ? todo_list.deadLine|date('d-m-Y') : '' }}</td>
					<td>
					{% if date(todo_list.deadLine) < date()%}
						oui
					{% else %}
						non
					{% endif %}


				</td>
					{# <td>{{ todo_list.owner.email }}</td> #}
					<td>
						{# <a href="{{ path('app_todo_lists_show', {'id': todo_list.id}) }}">
																			show</a> #}
						<a href="{{ path('app_todo_lists_edit', {'id': todo_list.id}) }}">edit</a>
						<a href="{{ path('app_tasks_index', {'id': todo_list.id}) }}">taches</a>
					</td>
				</tr>
			</td>
		
	</tr>
{% else %}
	<tr>
		<td colspan="5">no records found</td>
	</tr>

{% endfor %}
</tbody>
</table>
<a href="{{ path('app_todo_lists_new') }}">Create new</a>

	{% for todo_list in todo_lists %}
		{% if date(todo_list.deadLine) < date()%}
					{{todo_list.nameList}} la date est fini, t'ennuie pas avec supprime la si tu veux !
				{% else %}
				
		{% endif %}
	{% endfor %}


{% endblock %}
