{% extends 'base.html.twig' %}

{% block title %}TodoLists index
{% endblock %}

{% block body %}
	<div id="mainTable">
	<div id="contentTable">
			<h2>Tes listes de Tout Doux</h2>
		<table class="table">
			<thead>
				<tr>
					{# <th>Id</th> #}
					<th>Nom</th>
					<th>Dead de fin</th>
					<th>Expirée</th>
					{# <th>Owner</th> #}
					<th>Modifier</th>
					<th>Les tâches</th>
				</tr>
			</thead>
			<tbody>
				{# Début boucle for qui contrôl boucle sur Todo #}
				{% for todo_list in todo_lists %}
					{# Début if qui contrôl les dates limites #}
					{% if date(todo_list.deadLine) < date()%}
						<tr class="red">
					{% else %}
						<tr>
					{% endif %}
					{# <td>{{ todo_list.id }}</td> #}
					<td>{{ todo_list.nameList }}</td>
					<td>{{ todo_list.deadLine ? todo_list.deadLine|date('d-m-Y') : '' }}</td>
					<td>
				{% if todo_list.deadLine %}
				{% if date(todo_list.deadLine) < date()%}
					oui
				{% else %}
					non
				{% endif %}
				{% endif %}


					</td>
					{# <td>{{ todo_list.owner.email }}</td> #}
					<td>
						{# <a href="{{ path('app_todo_lists_show', {'id': todo_list.id}) }}">
																			show</a> #}
						<a href="{{ path('app_todo_lists_edit', {'id': todo_list.id}) }}"><img class="parametres" src="{{ asset('asset/img/parametres.png') }}"alt="parametres"></a>
						
					</td>
					<td>
						<a href="{{ path('app_tasks_index', {'id': todo_list.id}) }}"><img class="parametres" src="{{ asset('asset/img/croix.png') }}"alt="taches +"></a>
					</td>
				</tr>
			</td>
			</tr>
			{% else %}
			<tr>
			<td colspan="5">no records found</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	<a class="NewTaskAndTodoList" href="{{ path('app_todo_lists_new') }}"><img class="TodoPlus" src="{{ asset('asset/img/croix.png') }}"alt="taches +"> Crée une nouvelle liste</a>
	</div>

	{# {% for todo_list in todo_lists %}
		{% if date(todo_list.deadLine) < date()%}
					{{todo_list.nameList}} la date est fini, t'ennuie pas avec supprime la si tu veux !
				{% else %} #}
				
		{# {% endif %} #}
	{# {% endfor %} #}

</div>
{% endblock %}
