{% extends 'base.html.twig' %}

{% block title %}Tasks index
{% endblock %}

{% block body %}
	<h1>Tasks index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Content</th>
				<th>DeadLine</th>
				<th>Etat</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{# {{id}} #}
			{% for task in tasks %}

				{% if task.tasksTodolists.id == id %}
					<tr>
						<td>{{ task.id }}</td>
						<td>{{ task.content }}</td>
						<td>{{ task.deadLine ? task.deadLine|date('Y-m-d') : '' }}</td>
						<td>{{ task.etat }}</td>
						<td>
							<a href="{{ path('app_tasks_show', {'id': task.id}) }}">show</a>
							<a href="{{ path('app_tasks_edit', {'id': task.id}) }}">edit</a>
						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</tbody>
</table>

<a href="{{ path('app_tasks_new', {'id': id}) }}">Create new</a>{% endblock %}
